.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

.idea/
.vscode/
*.iml

android/app/debug/
android/app/release/
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
macos/Flutter/ephemeral/
macos/Pods/

pubspec.lock
*.log

*.hive
*.hive.lock

.DS_Store
Thumbs.db
